.padre{
    width: 200px;
    height: 200px;
    background-color: #f13929;
    position: relative; /*(Desbloqueamos la posición)Damos permiso para moverlo donde queramos a través de left, rifgt, etc*/
    left: 200px;
}
.hijo{
    width: 50px;
    height: 50px;
    background-color: #7888ea;
    position: relative;
    left: 200px;
    bottom: 50px;
}